.main {
  display: flex;
  height: 100vh;
}

.map {
  width: 70%;
  position: relative;
}

.sidebar {
  padding: 50px;
  background-color: #f0f0f0;
  width: 30%;
  height: 100vh;
  overflow-y: scroll;
}
